.arrow {
    display: flex;
    min-height: 54px;
    height: 7.8vw;
    width: 100%;
    position: relative;
    z-index: 2;
    &\--down {
        .arrow__content {
            position: absolute;
            left: 50%;
            top: 0;
            border-right: 1px solid #D7D7D7;
            border-bottom: 1px solid #D7D7D7;
            transform: translate(-50%, -50%) rotate(45deg);
            height: 54px;
            width: 54px;
        }
    }
    @media(min-width: $desktop) {
        &\--down {
            display: none;
        }
        &\--left {
            display: block;
            position: absolute;
            left: 10%;
            top: 50%;
            border-left: 1px solid #D7D7D7;
            border-bottom: 1px solid #D7D7D7;
            transform: translateY(-50%) rotate(45deg);
            height: 54px;
            width: 54px;
        }
        &\--right {
            display: block;
            position: absolute;
            right: 10%;
            top: 50%;
            border-right: 1px solid #D7D7D7;
            border-bottom: 1px solid #D7D7D7;
            transform: translateY(-50%) rotate(-45deg);
            height: 54px;
            width: 54px;
        }
    }
}