.arrow {
    display: flex;
    height: 16.6016vmin;
    padding-bottom: 8.7891vmin;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
    &\--down {
        .arrow__content {
            position: absolute;
            left: 50%;
            top: 0;
            border-right: 2px solid #979797;
            border-bottom: 2px solid #979797;
            transform: translate(-50%, -30%) rotate(45deg);
            height: 7.8125vmin;
            width: 7.8125vmin;
        }
    }
    &\--left {
        display: none;
    }
    &\--right {
        display: none;
    }
    @media(max-width: $desktop - 1) and (orientation: landscape) {
        height: 12.8125vmin;
        padding-bottom: 5vmin;
        .arrow__content {
            top: 0;
        }
    }
    @media(min-width: $desktop) {
        cursor: pointer;
        padding: 0;
        height: 1.4vw;
        width: 1.4vw;
        display: block;
        position: absolute;
        top: 26.5%;
        left: initial;
        min-height: initial;
        &\--down {
            display: none;
        }
        &\--left {
            left: 0;
            border-left: 1px solid #979797;
            border-bottom: 1px solid #979797;
            transform: translateX(40%) rotate(45deg);
        }
        &\--right {
            right: 0;
            border-right: 1px solid #979797;
            border-bottom: 1px solid #979797;
            transform: translateX(-40%) rotate(-45deg);
        }
    }
}