.contacts {
    @media(min-width: $desktop) {
        margin-top: auto;
        opacity: 0;
        z-index: -1;
        transition: opacity 0.4s cubic-bezier(.02, .01, .47, 1);
        text-align: right;
        &__text {
            font-size: 0.56vw;
            text-decoration: none;
            color: black;
            line-height: 2.5em;
            text-align: right;
            display: block;
        }
        &__instagram {
            text-align: right;
            margin-top: 0.56vw;
            margin-bottom: 0.56vw;
            display: block;
        }
        &__instagram-svg {
            width: 1.1vw;
            height: 1.1vw;
        }
    }
}