.d {
    &__scene {
        width: 100%;
        height: 100%;
    }
    &__cube {
        width: 100%;
        height: 100%;
    }
    &__cube-face {
        display: none;
    }
    &__cube-face\--back {
        display: block;
        width: 100%;
        height: 100%;
    }
    @media(min-width: $desktop) {
        &__scene {
            width: 100%;
            height: 100%;
            perspective: 80vw;
            pointer-events: none;
        }
        &__cube {
            width: 100%;
            height: 100%;
            position: relative;
            transform-style: preserve-3d;
            transform: translateZ(-40vw);
            transition: all .85s;
            &\--big {
                transform: translateZ(43vw);
            }
        }
        &__cube-face {
            display: block;
            position: absolute;
            border-image-source: url('../img/border_camila_lamarca.png');
            border-image-repeat: stretch;
            opacity: 0;
            animation: homeintro 5s cubic-bezier(.02, .01, .47, 1);
            animation-delay: 2s;
            animation-fill-mode: forwards;
            border-image-slice: 30%;
            border-top: 15px solid transparent;
            border-bottom: 15px solid transparent;
            border-left: 15px solid transparent;
            border-right: 15px solid transparent;
        }
        &__cube-face\--front {
            transform: rotateY( 0deg) translateZ(40vw);
            width: 100%;
            height: 100%; // border-top: 15px solid transparent;
            // border-bottom: 15px solid transparent;
            // border-left: 15px solid transparent;
            // border-right: 15px solid transparent;
        }
        &__cube-face\--right {
            transform: rotateY( 90deg) translateZ(50vw);
            width: 80vw;
            height: 100%;
            left: calc(50% - 40vw); // border-top: 15px solid transparent;
            // border-bottom: 15px solid transparent;
        }
        &__cube-face\--back {
            transform: rotateY(0) translateZ(-40vw);
            width: 100%;
            height: 100%;
            pointer-events: auto;
        }
        &__cube-face\--left {
            transform: rotateY(-90deg) translateZ(50vw);
            width: 80vw;
            height: 100%;
            left: calc(50% - 40vw);
            border-top: 15px solid transparent;
            border-bottom: 15px solid transparent;
        }
        &__cube-face\--top {
            transform: rotateX( 90deg) translateZ(calc(var(--vh, 1vh) * 50));
            width: 100%;
            height: 80vw;
            top: calc(50% - 40vw);
        }
        &__cube-face\--bottom {
            transform: rotateX(-90deg) translateZ(calc(var(--vh, 1vh) * 50));
            width: 100%;
            height: 80vw;
            top: calc(50% - 40vw);
        }
    }
}

@keyframes homeintro {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}