.d {
    &__scene {
        width: 100%;
        height: 100%;
    }
    &__cube {
        width: 100%;
        height: 100%;
    }
    &__cube-face {
        display: none;
    }
    &__cube-face\--back {
        display: block;
        width: 100%;
        height: 100%;
    }
    @media(min-width: $desktop) {
        &__scene {
            width: 100%;
            height: 100%;
            perspective: 58vw;
            pointer-events: none;
        }
        &__cube {
            width: 100%;
            height: 100%;
            position: relative;
            transform-style: preserve-3d;
            transform: translateZ(-30vw);
            transition: all .85s cubic-bezier(.455, .03, .515, .955);
            &\--big {
                transform: translateZ(33vw);
            }
        }
        &__cube-face {
            display: block;
            position: absolute;
            animation: homeintro 4s cubic-bezier(.02, .01, .47, 1);
            animation-delay: 8s;
            animation-fill-mode: forwards;
            background-image: url('../img/camila_lamarca.png');
            background-repeat: no-repeat;
        }
        &__cube-face\--right {
            transform: rotateY( 90deg) translateZ(50vw);
            width: 60vw;
            height: 100%;
            left: calc(50% - 30vw);
            background-position: left -2vw;
            background-size: 500% 500%;
            background-position: 50%;
            &::after {
                content: '';
                position: absolute;
                top: 15px;
                left: -15px;
                bottom: 15px;
                width: calc(100% - 15px);
                height: calc(100% - 30px);
                background-color: white;
            }
        }
        &__cube-face\--back {
            transform: rotateY(0) translateZ(-30vw);
            width: 100%;
            height: 100%;
            pointer-events: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            background-size: 500% 500%;
            background-position: 50%;
            &::after {
                content: '';
                position: absolute;
                bottom: 15px;
                left: 15px;
                right: 15px;
                bottom: 15px;
                width: calc(100% - 30px);
                height: calc(100% - 30px);
                background-color: white;
            } // &::after {
            //     content: url('../img/logo.svg');
            //     position: absolute;
            //     top: 50%;
            //     left: 50%;
            //     transform: translate(-50%, -50%);
            //     width: 80%;
            //     height: auto;
            // }
        }
        &__cube-face\--left {
            transform: rotateY(-90deg) translateZ(50vw);
            width: 60vw;
            height: 100%;
            left: calc(50% - 30vw);
            background-size: 500% 500%;
            background-position: 50%;
            &::after {
                content: '';
                position: absolute;
                top: 15px;
                left: 15px;
                bottom: 15px;
                width: calc(100% - 15px);
                height: calc(100% - 30px);
                background-color: white;
            }
        }
        &__cube-face\--top {
            transform: rotateX( 90deg) translateZ(calc(var(--vh, 1vh) * 50));
            width: 100%;
            height: 60vw;
            top: calc(50% - 30vw);
            background-size: 500% 500%;
            background-position: 50%;
            &::after {
                content: '';
                position: absolute;
                top: 15px;
                left: 15px;
                right: 15px; // bottom: 15px;
                width: calc(100% - 30px);
                height: calc(100% - 15px);
                background-color: white;
            }
        }
        &__cube-face\--bottom {
            transform: rotateX(-90deg) translateZ(calc(var(--vh, 1vh) * 50));
            width: 100%;
            height: 60vw;
            top: calc(50% - 30vw);
            background-size: 500% 500%;
            background-position: 50%;
            &::after {
                content: '';
                position: absolute;
                bottom: 15px;
                left: 15px;
                right: 15px; // bottom: 15px;
                width: calc(100% - 30px);
                height: calc(100% - 15px);
                background-color: white;
            }
        }
    }
}

@keyframes homeintro {
    0% {
        background-color: black;
    }
    100% {
        background-color: transparent;
    }
}