.info {
    padding-left: 11%;
    padding-right: 11%;
    background-color: white;
    padding-top: 7.32vh;
    padding-bottom: 7.32vh;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    opacity: 0;
    z-index: -1;
    transition: opacity 0.4s cubic-bezier(.02, .01, .47, 1);
    &__description {
        font-size: 5vw;
        letter-spacing: 0.034615em;
        margin-bottom: 9vh;
        margin-top: 11.8vh;
        line-height: 2.153846em;
        text-align: center;
        &\--desktop {
            display: none;
        }
    }
    &__small-text {
        color: #000000;
        font-weight: 300;
        font-size: 4.49vw;
        line-height: 2.086957em;
        font-weight: 300;
        letter-spacing: 0.03478em;
        margin-bottom: 4.88vh;
        display: block;
        text-align: center;
    }
    &__email {
        color: black;
        text-decoration: none;
    }
    &__instagram {
        margin-top: auto;
    }
    &__instagram-svg {
        width: 56px;
        height: 56px;
    }
    @media(min-width: $desktop) {
        padding-top: 7%;
        padding-bottom: 11%;
        &__description {
            font-size: 1.6vw;
            margin-top: 16.8vh;
            letter-spacing: 0.034783em;
            &\--mobile {
                display: none;
            }
            &\--desktop {
                display: block;
            }
        }
        &__small-text {
            font-size: 1.3889vw;
            line-height: 1.3333em;
            margin-bottom: 3.6vh;
        }
        &__schedule {
            margin-bottom: 0;
        }
        &__email {
            margin-top: auto;
        }
        &__break {
            display: none;
        }
    }
}