.info {
    position: absolute;
    display: flex; // align-items: center;
    justify-content: center;
    opacity: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    transition: opacity 0.4s cubic-bezier(.02, .01, .47, 1);
    padding-left: 11%;
    padding-right: 11%;
    &__content {
        background-color: white;
        padding-bottom: 15%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    &__description {
        font-size: 4.7vmin;
        letter-spacing: 0.034615em;
        margin-bottom: 2.2em;
        margin-top: 2em;
        line-height: 2.153846em;
        text-align: center;
        &\--desktop {
            display: none;
        }
    }
    &__small-text {
        color: #000000;
        font-weight: 300;
        font-size: 3.7vmin;
        line-height: 2.086957em;
        font-weight: 300;
        letter-spacing: 0.03478em;
        margin-bottom: 1.2em;
        display: block;
        text-align: center;
    }
    &__email {
        color: black;
        text-decoration: none;
    }
    &__instagram {
        margin-top: auto;
    }
    &__instagram-svg {
        width: 56px;
        height: 56px;
    }
    @media(max-width: $desktop - 1) and (orientation: landscape) {
        padding-left: 4%;
        padding-right: 4%;
        &__description {
            margin-bottom: 0.55em;
            margin-top: 0.75em;
        }
    }
    @media(min-width: $desktop) {
        &__content {
            padding-top: 2.5vh; // padding-bottom: 16%;
        }
        &__description {
            font-size: 0.7679vw;
            margin-top: 0;
            margin-bottom: 4em;
            letter-spacing: 0.034783em;
            &\--mobile {
                display: none;
            }
            &\--desktop {
                display: block;
            }
        }
        &__small-text {
            font-size: 0.6677vw;
            line-height: 1.3333em;
            margin-bottom: 1.8vh;
        }
        &__schedule {
            margin-bottom: 0;
        }
        &__email {
            margin-top: auto;
        }
        &__break {
            display: none;
        }
        &__instagram-svg {
            width: 28px;
            height: 28px;
            margin-top: auto;
        }
    }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {}
}