.intro {
    position: absolute;
    z-index: -2;
    width: 100%;
    height: 100%;
    display: none;
    @media(min-width: $desktop) {
        display: block;
        z-index: 20;
        animation: zindex 5s linear;
        animation-fill-mode: forwards;
        opacity: 1;
        &__cube-face {
            animation: intro 5s cubic-bezier(.02, .01, .47, 1);
            display: flex;
            align-items: center;
            justify-content: center;
            border-image-source: initial;
            animation-fill-mode: forwards;
            border: 15px solid black;
            // &\--front, // &\--back {
//     border: 15px solid black;
// }
// &\--left,
// &\--right {
//     border-top: 15px solid black;
//     border-bottom: 15px solid black;
// }
        }
        &__logo {
            width: 80%;
        }
    }
}

@keyframes intro {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes zindex {
    0% {
        z-index: 20;
    }
    99.9% {
        z-index: 20;
    }
    100% {
        z-index: -2;
    }
}