.logo {
    width: 27.14vmin;
    padding-top: 17.5vmin;
    height: auto;
    cursor: pointer;
    margin-bottom: 2.5vmin;
    background-color: white;
    text-align: center;
    &__svg {
        width: 100%;
        height: 100%;
        .st0 {
            fill: none;
            stroke: #000000;
        }
    }
    @media(max-width: $desktop - 1) and (orientation: landscape) {
        padding-top: 5vh;
    }
    @media(min-width: $desktop) {
        width: 9.15vw;
        z-index: -1;
        background-color: transparent;
        opacity: 0;
        margin: 0;
        padding: 0;
        width: 4.5vw;
        margin-bottom: 0;
        transition: opacity .85s;
        -webkit-transform: translateZ(0); //to remove jumping due to pixel rounding during transition in crome
        pointer-events: none;
    }
}