.nav {
    display: none;
    @media(min-width: $desktop) {
        position: absolute;
        opacity: 0;
        z-index: -1;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        &__item {
            font-size: 0.81vw;
            letter-spacing: 0.0348em;
            transition: opacity .85s;
            color: #9b9b9b;
            text-align: right;
            &:hover {
                color: black;
            }
            &\--active {
                color: black;
            }
        }
    }
}